<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Player Results</h2>
<div class="card-deck mb-2">
  <% results.forEach(function(r) { %>
    <div class="card border-secondary"style="max-width: 12rem;">
      <img class="card-img img_id_<%= r.id %>" src="<%= r.path %>" sytle="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title"><%= r.name %></h4>
        <h4 class="card-subtitle mb-2">CLASS:<%= r.skill %></h4>
        <h4 class="card-subtitle mb-4"><%= r.id %></h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary" value="Select" id="<%= r.id %>">
        </div>
      </div>
    </div>
  <% }); %>
</div>


<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> - <%= r.skill %></li>
    <% }); %>
</ul>

</div>
<script>
$('.btn').on('click', function(){
  var obj = event.target;
  alert(obj.id);
  var st = '#img_id'+obj.id.toString();
  alert(st);
  $(st).attr('src', 'icon_endo2.png');
});
</script>

</body>
</html>