<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Player Results</h2>

<div class="text-right mb-4">
  <button type="button" class="btn btn-warning mr-2" onclick="location.href='/player'">
    Cancel
  </button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#AddUserModal">
      Add Player
  </button>
  <div class="modal" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="AddUserModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="AddUserModalLabel">Add Player</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="text-left">
                    <form id="playeritem" action="/player" method="post">
                      <div class="form-group">
                        <label for="add_name">NAME</label>
                        <input type="text" name="add_name" id="add_name" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="add_class">CLASS</label>
                        <input type="text" name="add_class" id="add_class" class="form-control">
                      </div>
                    </form>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" form="playeritem" id="Addplayer">Add Player</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>

<!--
<div class="card-deck mb-2">
  <% results.forEach(function(r) { %>
    <div class="card border-secondary"style="max-width: 12rem;">
      <img class="card-img img_id_<%= r.id %>" src="<%= r.path %>" sytle="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title"><%= r.name %></h4>
        <h4 class="card-subtitle mb-2">CLASS:<%= r.skill %></h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary" value="Select" id="<%= r.id %>">
        </div>
      </div>
    </div>
  <% }); %>
</div>
-->
<div class="row mb-4">
  <% results.forEach(function(r,i) { %>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
      <div class="card border-secondary"style="max-width: 20rem;">
        <img class="card-img img_id_<%= r.id %>" src="<%= r.path %>" sytle="max-width: 40rem;">
        <div class="card-body">
          <h4 class="card-title"><%= r.name %></h4>
          <h4 class="card-subtitle mb-2">CLASS:<%= r.skill %></h4>
          <div class="text-right">
            <input type="button" class="btn btn-secondary select" value="Select" id="<%= r.id %>">
          </div>
        </div>
      </div>
    </div>
  <% }); %>
</div>

<!--
<div class="row mb-4">
  <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
    <div class="card border-secondary"style="max-width: 20rem;">
      <img class="card-img img_id_1" src="icon_hara2.png" sytle="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">HARA</h4>
        <h4 class="card-subtitle mb-2">CLASS:B</h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary select" value="Select" id="1">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
    <div class="card border-secondary"style="max-width: 20rem;">
      <img class="card-img img_id_2" src="icon_hara2.png" sytle="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">HARA</h4>
        <h4 class="card-subtitle mb-2">CLASS:B</h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary select" value="Select" id="2">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
    <div class="card border-secondary"style="max-width: 20rem;">
      <img class="card-img img_id_3" src="icon_hara2.png" sytle="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">HARA</h4>
        <h4 class="card-subtitle mb-2">CLASS:B</h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary select" value="Select" id="3">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
    <div class="card border-secondary"style="max-width: 20rem;">
      <img class="card-img img_id_4" src="icon_hara2.png" sytle="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">HARA</h4>
        <h4 class="card-subtitle mb-2">CLASS:B</h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary select" value="Select" id="4">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
    <div class="card border-secondary"style="max-width: 20rem;">
      <img class="card-img img_id_5" src="icon_hara2.png" sytle="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">HARA</h4>
        <h4 class="card-subtitle mb-2">CLASS:B</h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary select" value="Select" id="5">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
    <div class="card border-secondary"style="max-width: 20rem;">
      <img class="card-img img_id_6" src="icon_hara2.png" sytle="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">HARA</h4>
        <h4 class="card-subtitle mb-2">CLASS:B</h4>
        <div class="text-right">
          <input type="button" class="btn btn-secondary select" value="Select" id="6">
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="text-right">
  <form action="/game" method="post">
    <div class="form-group">
      <input type="hidden" id="Order_id" name="order" value="Order_value">
    </div>
    <button type="submit" class="btn btn-primary start_game">Start Game</button>
</form>
</div>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> - <%= r.skill %></li>
    <% }); %>
</ul>

</div>
<script>
var count = 1;
var Order = [];
$('.select').on('click', function(){
  var obj = event.target;
  obj.disabled = true;
  var st = 'img_id_'+obj.id.toString();
  $('.'+st).attr('src', count+'.png');
  Order.push(obj.id);
  count += 1;
  alert(Order);
});
/*
$('#').on('click', function(){
  var obj = event.target;
  var st = 'img_id_'+obj.id.toString();
  $('.'+st).attr('src', count+'.png');
  Order.push(obj.id);
  count += 1;
  alert(Order);
});
*/

$('.start_game').on('click', function(){
  if(count < 3){
    alert("select two or more players!!");
    return false;
  }
  alert('post:'+Order);
  document.getElementById('Order_id').value=Order;
/*
  var ele = document.createElement('input');
  ele.setAttribute('type', 'hidden');
  ele.setAttribute('name', 'order');
  ele.setAttribute('value', Order);
*/
});

</script>

</body>
</html>